@mixin button-basic(){
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    &:hover{
        background-color: #ef4c6d;
        transition: all ease-in-out 0.2s;

    }
}

.main-container-accoutn{
    width: 1100px;
    height: 500px;
    border-bottom: solid gray 1px;
    display: flex;
    flex-direction: column;
    gap: 70px;

    .account-title{
        font-family: 'City Mango', sans-serif;
        color: crimson;
        text-align: center;
        font-size: 70px;
    }

    .account-info-container{
        display: flex;
        flex-direction: row;

        .image-container{
            width: 300px;
            height: 300px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid gray;
                border-radius: 200px;

            }
        }
        .account-text{
            width: 800px;
            height: 300px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 20px;

            .text{
                width: 320px;
                height: 200px;
                display: flex;
                flex-direction: column;
                gap: 30px;

                .user-name{
                    font-weight: bolder;
                    font-size: 50px;
                }
                .user-email{
                    color: rgb(171, 171, 171);
                }
            }

            .buttons{
                height: 250px;
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: rgb(171, 171, 171) solid 2px;
                border-radius: 15px;
                button{
                    @include button-basic();
                }
            }

            .change-picture-form{
                background-color: white;
                height: 300px;
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 200ms ease-in-out;
                z-index: 100;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;


                    input{
                        visibility: hidden;
                        width: 0px;
                        height: 0px;
                    }

                    label{
                        img{
                            height: 170px;
                            width: 170px;
                        }
                    }
                    
                }
                // button{
                //    @include button-basic();
                // }
            }
            .change-picture-form-active{
                transition: 200ms ease-in-out;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
    .blogs-body{
        margin-top: 40px;
        width: 1044px;

    .blog-content{
      width: 1044px;

      .blog-text{

        .single-blog{
          display: flex;
          flex-direction: row; 
          justify-content: space-between;
          gap: 60px;

          .text{
            .snippit{
              margin-bottom: 20px;
              color: rgb(127, 127, 127);

              & :hover{
                color: rgb(219, 20, 60);
              }
            }
          
            .title{
              margin-top: 10px;
              margin-bottom: 10px;

              & :hover{
                color: crimson;
              }
            }
          }          
          .image-blog{
            width: 250px;
            height: 150px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .topics{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .topic{
          color: rgb(156, 156, 156);
          font-size: 18px;
          font-weight: bold;
          margin: 0px 10px 10px 0px;
          
        }
      }
    
      .addings{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    
        .likes{
          width: 50px;
          height: 30px;
          background-color: rgb(236, 236, 236);
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 4px;
          border-radius: 50px;
    
          img{
            width: 20px;
            height: 20px;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}