@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

.topics-bar-container{
  height: 30px;
  width: 1519px;
  display: flex;
  flex-direction: row;

  button{
    height: 30px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px;
    img{
      width: 20px;
      height: 20px;
    }
  }

  .topics-container{
    width: 100%;
    height: 30px;
    background-color: #222;
    position: relative;
    overflow-x: hidden;

    .topics-list{
      position: absolute;
      min-width: 0;
      max-width: 100%;
      height: 30px;
      display: flex;
      flex-shrink: 1;
      flex-direction: row;
      transform: translateX(0px);

      .topic-general{
        color: white;
        white-space: nowrap;
        text-decoration: none;
        padding: 0px 20px;

        &:hover{
          background-color: #131313;
        }
      }
    } 
  }

  
}

.blogs-page{

  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;

    .heading-text{

      .heading1{
        padding-bottom: 20px;
        width: 100%;
        font-family: 'City Mango', sans-serif;
        font-size: 70px;

        span{
          font-size: 100px;
          color: crimson;
        }
      }
      .under-heding{
        font-size: 27px;
        width: 100%
      }
    }

    .heading-image{
      img{
        height: 300px;
        width: 300px;
      }
    }
  }

  .blogs-body{
    width: 1044px;

    .blog-content{
      width: 1044px;

      .blog-text{

        .single-blog{
          display: flex;
          flex-direction: row; 
          justify-content: space-between;
          gap: 60px;

          .text{
            .snippit{
              margin-bottom: 20px;
              color: rgb(127, 127, 127);

              & :hover{
                color: rgb(219, 20, 60);
              }
            }
          
            .title{
              margin-top: 10px;
              margin-bottom: 10px;

              & :hover{
                color: crimson;
              }
            }
          }          
          .image-blog{
            width: 250px;
            height: 150px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .topics{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .topic{
          color: rgb(156, 156, 156);
          font-size: 18px;
          font-weight: bold;
          margin: 0px 10px 10px 0px;
          
        }
      }
    
      .addings{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    
        .likes{
          display: flex;
          flex-direction: row;
          gap: 4px;
    
          img{
            width: 20px;
            height: 20px;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
