@mixin button-basic(){
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    &:hover{
        background-color: #ef4c6d;
        transition: all ease-in-out 0.2s;

    }
}

button{
    @include button-basic();
}

.create-blog{

    form{
        width: 1250px;
        margin: 0 auto;

        .input-title{
            
            input{
                padding: 8px;
                width: 100%;
                border: none;
                border-bottom: solid gray 0.5px;
                outline: none;
            }
        }
        .input-snippit{
            input{
                padding: 8px;
                width: 100%;
                border: none;
                border-bottom: solid gray 0.5px;
                outline: none;
            }
        }
        .input-body{
            label{
                margin-top: 50px;  

            }
            textarea{
                width: 100%;
                height: 500px;
                padding: 8px;
                outline: none;

            }
        }

        .last-additions{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .input-main-image{
                display: flex;
                flex-direction: column;

                input{
                    visibility: hidden;
                }

                label{
                    width: 610px;
                    height: 250px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    border: 2px solid crimson;
                    border-radius: 15px;
                    
                    img{
                        width: 100px;
                        height: 100px;
                    }
                    h2{
                        font-size: 27px;
                    }
                }
            }
            .topics-cohice-contianer{
                width: 625px;
                display: flex;
                align-items: center;
                justify-content: center;

                .topics-choice{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .label-topic-choice{
                        h2{
                            font-size: bolder;
                            color: crimson;
                        }
                    }
                    .topics-input{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
;
                        input{
                            width: 505px;
                            height: 41px;
                            outline: none;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;

                        }
                        
                        button{
                            width: 105px;
                            height: 41px;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                        }
                    }
                    .blog-topics{
                        height: 120px;
                        border: solid gray 2px;
                        border-radius: 5px;

                        .topic-element{
                            background-color: crimson;
                            border-radius: 30px;
                            display: inline-block;
                            padding: 5px 12px;
                            margin-left: 5px;
                            
                            .text-topic{
                                color: white;
                                font-size: 20px;
                                margin-right: 5px;
                                display: inline-block;

                            }
                            .remove-topic{
                                display: inline-block;
                                
                                img{
                                    width: 15px;
                                    height: 15px;
                                }
                            }

                        }
                    }
                }
            }
        }
        .submit-btn-container{
            button{
                margin-top: 10px;
            }
        }
    }
    label{
        font-size: 30px;
        color: crimson;
        display: block;
        margin-top: 25px;  
    }
}