.blogs-icon{
    width: 30px;
    height: 30px;
}
.create-icon{
    width: 20px;
    height: 20px;
}
.account-icon{
    width: 30px;
    height: 30px;
}
.search-bar-content{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search-bar-body{
        width: 320px;
        height: 35px;
        background-color: white;
        border: gray 1px solid;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        img{
            height: 30px;
            width: 30px;
        }
        
        .search-bar{
            width: 85%;
            form{

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .search-menu-inactive{
        height: 0px;
    }
    .search-menu-active{
        width: 320px;
        top: 49px;
        background-color: white;
        padding: 10px 0px 10px 0px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 7px;
        position: absolute;

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;

            .search-item{
                width: 90%;
                height: 60px;
                overflow: hidden;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                
                &:hover{
                    background-color: rgb(195, 195, 195);
                    border-radius: 7px;
                }
                .img-container{
                    height: 50px;
                    width: 50px;

                    img{
                        border-radius: 5px;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                
                li{
                    width: 80%;
                    color: black;
                    overflow: hidden;
                    white-space: nowrap;
                
                }
            }
        }
    }
}