.main-container-accoutn {
  width: 1100px;
  height: 500px;
  border-bottom: solid gray 1px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.main-container-accoutn .account-title {
  font-family: "City Mango", sans-serif;
  color: crimson;
  text-align: center;
  font-size: 70px;
}
.main-container-accoutn .account-info-container {
  display: flex;
  flex-direction: row;
}
.main-container-accoutn .account-info-container .image-container {
  width: 300px;
  height: 300px;
}
.main-container-accoutn .account-info-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 200px;
}
.main-container-accoutn .account-info-container .account-text {
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.main-container-accoutn .account-info-container .account-text .text {
  width: 320px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-container-accoutn .account-info-container .account-text .text .user-name {
  font-weight: bolder;
  font-size: 50px;
}
.main-container-accoutn .account-info-container .account-text .text .user-email {
  color: rgb(171, 171, 171);
}
.main-container-accoutn .account-info-container .account-text .buttons {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: rgb(171, 171, 171) solid 2px;
  border-radius: 15px;
}
.main-container-accoutn .account-info-container .account-text .buttons button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}
.main-container-accoutn .account-info-container .account-text .buttons button:hover {
  background-color: #ef4c6d;
  transition: all ease-in-out 0.2s;
}
.main-container-accoutn .account-info-container .account-text .change-picture-form {
  background-color: white;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-container-accoutn .account-info-container .account-text .change-picture-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container-accoutn .account-info-container .account-text .change-picture-form form input {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.main-container-accoutn .account-info-container .account-text .change-picture-form form label img {
  height: 170px;
  width: 170px;
}
.main-container-accoutn .account-info-container .account-text .change-picture-form-active {
  transition: 200ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.main-container-accoutn .blogs-body {
  margin-top: 40px;
  width: 1044px;
}
.main-container-accoutn .blogs-body .blog-content {
  width: 1044px;
}
.main-container-accoutn .blogs-body .blog-content .blog-text .single-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}
.main-container-accoutn .blogs-body .blog-content .blog-text .single-blog .text .snippit {
  margin-bottom: 20px;
  color: rgb(127, 127, 127);
}
.main-container-accoutn .blogs-body .blog-content .blog-text .single-blog .text .snippit :hover {
  color: rgb(219, 20, 60);
}
.main-container-accoutn .blogs-body .blog-content .blog-text .single-blog .text .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-container-accoutn .blogs-body .blog-content .blog-text .single-blog .text .title :hover {
  color: crimson;
}
.main-container-accoutn .blogs-body .blog-content .blog-text .single-blog .image-blog {
  width: 250px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container-accoutn .blogs-body .blog-content .blog-text .single-blog .image-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-container-accoutn .blogs-body .blog-content .topics {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-container-accoutn .blogs-body .blog-content .topics .topic {
  color: rgb(156, 156, 156);
  font-size: 18px;
  font-weight: bold;
  margin: 0px 10px 10px 0px;
}
.main-container-accoutn .blogs-body .blog-content .addings {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.main-container-accoutn .blogs-body .blog-content .addings .likes {
  width: 50px;
  height: 30px;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 50px;
}
.main-container-accoutn .blogs-body .blog-content .addings .likes img {
  width: 20px;
  height: 20px;
}
.main-container-accoutn .blogs-body .blog-content .addings .likes img:hover {
  cursor: pointer;
}

/*# sourceMappingURL=account_page.css.map */
