@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
p, h1, h2, h3, a, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

.topics-bar-container {
  height: 30px;
  width: 1519px;
  display: flex;
  flex-direction: row;
}
.topics-bar-container button {
  height: 30px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0px;
}
.topics-bar-container button img {
  width: 20px;
  height: 20px;
}
.topics-bar-container .topics-container {
  width: 100%;
  height: 30px;
  background-color: #222;
  position: relative;
  overflow-x: hidden;
}
.topics-bar-container .topics-container .topics-list {
  position: absolute;
  min-width: 0;
  max-width: 100%;
  height: 30px;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  transform: translateX(0px);
}
.topics-bar-container .topics-container .topics-list .topic-general {
  color: white;
  white-space: nowrap;
  text-decoration: none;
  padding: 0px 20px;
}
.topics-bar-container .topics-container .topics-list .topic-general:hover {
  background-color: #131313;
}

.blogs-page {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs-page .heading-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}
.blogs-page .heading-content .heading-text .heading1 {
  padding-bottom: 20px;
  width: 100%;
  font-family: "City Mango", sans-serif;
  font-size: 70px;
}
.blogs-page .heading-content .heading-text .heading1 span {
  font-size: 100px;
  color: crimson;
}
.blogs-page .heading-content .heading-text .under-heding {
  font-size: 27px;
  width: 100%;
}
.blogs-page .heading-content .heading-image img {
  height: 300px;
  width: 300px;
}
.blogs-page .blogs-body {
  width: 1044px;
}
.blogs-page .blogs-body .blog-content {
  width: 1044px;
}
.blogs-page .blogs-body .blog-content .blog-text .single-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}
.blogs-page .blogs-body .blog-content .blog-text .single-blog .text .snippit {
  margin-bottom: 20px;
  color: rgb(127, 127, 127);
}
.blogs-page .blogs-body .blog-content .blog-text .single-blog .text .snippit :hover {
  color: rgb(219, 20, 60);
}
.blogs-page .blogs-body .blog-content .blog-text .single-blog .text .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blogs-page .blogs-body .blog-content .blog-text .single-blog .text .title :hover {
  color: crimson;
}
.blogs-page .blogs-body .blog-content .blog-text .single-blog .image-blog {
  width: 250px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs-page .blogs-body .blog-content .blog-text .single-blog .image-blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogs-page .blogs-body .blog-content .topics {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blogs-page .blogs-body .blog-content .topics .topic {
  color: rgb(156, 156, 156);
  font-size: 18px;
  font-weight: bold;
  margin: 0px 10px 10px 0px;
}
.blogs-page .blogs-body .blog-content .addings {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.blogs-page .blogs-body .blog-content .addings .likes {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.blogs-page .blogs-body .blog-content .addings .likes img {
  width: 20px;
  height: 20px;
}
.blogs-page .blogs-body .blog-content .addings .likes img:hover {
  cursor: pointer;
}

/*# sourceMappingURL=blogs_page.css.map */
